/twitterWSAp/dist/
/callTwitter/nbproject/private/
/BackboneHelloWorld/nbproject/private/
/BackboneWineCellar/nbproject/private/
/JavaApplication2/dist/
/AngularJSPhoneCat/nbproject/private/
/WSTwitterItau/build/
/WSTwitterItau/dist/
/WSTwitterItau/nbproject/private/
/WSTwitter/build/
/WSTwitter/dist/
/WSTwitter/nbproject/private/
/ApplicationForTestWSJava/build/
/ApplicationForTestWSJava/dist/
/ApplicationForTestWSJava/nbproject/private/